.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 20px;
    margin-inside: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth {

}

.authRow {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}